.wrapper {
  padding-left: 30px;
  padding-right: 30px;
}

.blocks {
  grid-template-columns: 1fr;
  grid-row-gap: 30px;
}

h2 {
  margin-bottom: 30px;
}

.partners-link {
  grid-template-columns: 1fr;
}
.partners-link :nth-child(n+7) {
  display: none;
}

div.publications {
  grid-template-columns: 1fr;
}

.mobile-hidden {
  display: none;
}

@media (min-width: 768px) {
  .wrapper {
    padding-left: 60px;
    padding-right: 60px;
  }
  .blocks {
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
  }
  h2 {
    margin-bottom: 60px;
  }
  .partners-link {
    grid-template-columns: repeat(3, 1fr);
  }
  .partners-link :nth-child(n+7) {
    display: flex;
  }
  div.publications {
    grid-template-columns: 1fr 1fr;
  }
  div.publications :nth-child(3) {
    grid-column-start: 1;
    grid-column-end: -1;
  }
  .mobile-hidden {
    display: inherit;
  }
  .mobile-hidden * {
    display: inherit;
  }
  .header {
    grid-template-areas: "contacts" "logo" "nav";
    gap: 30px;
  }
  .header__burger {
    display: none;
  }
  .header__nav {
    grid-auto-flow: column;
    justify-content: start;
  }
  .header__nav a {
    font-size: 16px;
    font-weight: 700;
  }
  .header__contacts {
    justify-content: flex-start;
    background-color: inherit;
    padding: 0;
  }
  .header__socialmedia {
    display: block;
  }
  .header__socialmedia:hover svg path {
    fill: #F0145A;
  }
  .header__socialmedia:hover svg rect {
    fill: #F0145A;
  }
  .header__logo-btn {
    padding: 0;
  }
  .header__logo-btn .logo {
    padding: 0;
  }
  .header__logo-btn .logo .logo-icon {
    background-image: url(../../final/images/logos/Logo-desktop.svg);
    width: 130px;
    height: 60px;
  }
  .header__logo-btn .logo__breadcrumbs {
    display: none;
  }
  .hero {
    padding: 50px 60px 30px 60px;
  }
  .hero__text {
    width: 100%;
    margin-bottom: 125px;
  }
  .scroll__description {
    padding-left: 60px;
    padding-right: 60px;
  }
  .scroll__description::before {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .scroll__description h4 {
    font-size: 30px;
  }
  .scroll__content {
    padding-left: 60px;
  }
  .scroll__content a {
    font-size: 38px;
  }
  .separator {
    position: relative;
    padding-left: 18px;
    text-align: center;
    line-height: 25px;
  }
  .separator::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 6px;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background-color: #E6E6F0;
  }
  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__location {
    grid-row: 1/2;
    justify-self: start;
    display: flex;
    text-align: center;
    flex-direction: row;
    gap: 0px;
  }
  .footer__communications {
    grid-column: 1/3;
    grid-row: 2/3;
    justify-self: start;
    flex-direction: row;
    gap: 0px;
  }
  .footer__copyright {
    text-align: right;
  }
  .footer .separator::before {
    background-color: #B3B3BA;
  }
  .navbar {
    display: none;
  }
}
@media (min-width: 1024px) {
  .blocks {
    grid-template-columns: repeat(3, 1fr);
  }
  .partners-link {
    grid-template-columns: repeat(4, 1fr);
  }
  div.slider-card {
    position: relative;
  }
  div.slider-card .content {
    margin-left: 400px;
  }
  div.slider-card img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 400px;
    height: 100%;
  }
  div.publications {
    grid-template-columns: repeat(3, 1fr);
  }
  div.publications :nth-child(3) {
    grid-column-start: auto;
    grid-column-end: auto;
  }
  section.hero {
    background-size: contain;
  }
  .hero__text {
    margin-bottom: 45px;
  }
  .header {
    grid-template-areas: "logo contacts" "logo nav";
  }
  .header__nav {
    justify-content: flex-end;
  }
  .header__nav a {
    position: relative;
  }
  .header__nav a:hover::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: white;
    top: 20px;
    left: 0;
  }
  .header__nav a:active {
    color: #F0145A;
  }
  .header__nav a:active::after {
    background-color: #F0145A;
  }
  .header__contacts {
    justify-content: flex-end;
  }
  .scroll {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 60px;
    padding-right: 60px;
    gap: 124px;
  }
  .scroll__link {
    flex-shrink: 0;
  }
  .scroll__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 30px;
    padding-left: 0px;
    overflow: visible;
  }
  .scroll__content a {
    font-size: 38px;
  }
  .scroll__description {
    gap: 0px;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
  }
  .scroll__description::before {
    content: "";
    display: block;
    width: 4px;
    height: 303px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: -10px;
    left: -60px;
  }
}
@media (min-width: 1440px) {
  .scroll {
    padding-left: 180px;
    padding-right: 180px;
  }
}
@media (min-width: 1920px) {
  .wrapper {
    padding-left: 160px;
    padding-right: 160px;
  }
  .partners-wrapper {
    width: 1720px;
    margin-right: auto;
    margin-left: auto;
  }
  .partners-link {
    border-radius: 12px;
    overflow: hidden;
  }
  section.scroll {
    padding-left: 280px;
    padding-right: 280px;
  }
}

/*# sourceMappingURL=media.css.map */
