$gradient-supersoft:
    linear-gradient(208deg, #323264 0%, #323264 59.90%, #643E72 100%);

$gradient-redtext:
    linear-gradient(118deg, #F0145A 0%, #EF8080 100%);

$active-regular: 
    #24A3FF;

$basic-white: 
    #FFF;

$accent:
    #F0145A;

$shadow-light:
    #E7E7F2;

$shadow-dark: 
    #CACADB;

$main-regular:
    #323264;

$grey-text:
    #B3B3BA;

$grey-background:
    #f5f5fa;

$grey-separator:
    #E6E6F0;
    